@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css');
/* colors */
.white{
    color: white !important;
}

.black{
    color: rgb(0, 0, 0) !important;
}

.black-fade{
    color: rgb(87, 87, 87) !important;
}

/* card */

.custom-card{
    /* display: block;
    border: none;
    margin: 20px; */
    /* padding: 10px; */
    text-decoration: none;
    height: 400px;
    overflow: hidden;
    position: relative;
    /* border-radius: 10px; */
}

.custom-card > .card-img-top{
    transition: all 0.3s ease-out ;
    
}

.custom-card > .card-body{
    height: 150px;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.custom-card:hover > .card-img-top{
    position: absolute;
    z-index: 0;
    transform: scale(1.5);
}